html  {
  background-size: cover;
}

#imgpos {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
  }
  body {
    background-color: #5b4e7c;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 125px;
    color: #fcb65f
  }
  button {
    display: inline-block;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 75%;
    -ms-transform: translateY(-50%);
    margin-top: 200px;
    background-color: #fcb65f;
    border-radius: 10px;
    border: 4px double #FF8E33;
    color: #FF8E33;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #FFCC8E;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }